<a href="https://colab.research.google.com/github/erdemer-code/WordleAnswersPlaybook/blob/main/WordlePlaybook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
import pandas as pd
import json
from datetime import datetime
import numpy as np

## Behind Logics for Debugging

In [138]:
f = open('worlde.json')
data = json.load(f)

In [139]:
type(data)

dict

In [140]:
type(data['words'])

list

In [141]:
answers = data['words']

In [142]:
len(answers)

12947

In [143]:
answers.index('dodge')

244

In [144]:
df_answers = pd.DataFrame(data = answers,columns=['Answer'])

In [145]:
df_answers.head()

  Answer
0  cigar
1  rebut
2  sissy
3  humph
4  awake

In [146]:
dates = pd.date_range(start=datetime(2021,6,19),periods=len(df_answers.values))

In [147]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [148]:
dates

DatetimeIndex(['2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
               '2021-06-27', '2021-06-28',
               ...
               '2056-11-19', '2056-11-20', '2056-11-21', '2056-11-22',
               '2056-11-23', '2056-11-24', '2056-11-25', '2056-11-26',
               '2056-11-27', '2056-11-28'],
              dtype='datetime64[ns]', length=12947, freq='D')

In [149]:
df_answers['dates'] = dates

In [150]:
df_answers.head(20)

   Answer      dates
0   cigar 2021-06-19
1   rebut 2021-06-20
2   sissy 2021-06-21
3   humph 2021-06-22
4   awake 2021-06-23
5   blush 2021-06-24
6   focal 2021-06-25
7   evade 2021-06-26
8   naval 2021-06-27
9   serve 2021-06-28
10  heath 2021-06-29
11  dwarf 2021-06-30
12  model 2021-07-01
13  karma 2021-07-02
14  stink 2021-07-03
15  grade 2021-07-04
16  quiet 2021-07-05
17  bench 2021-07-06
18  abate 2021-07-07
19  feign 2021-07-08

In [151]:
df_answers.dates.values[0]

numpy.datetime64('2021-06-19T00:00:00.000000000')

In [152]:
df_answers[df_answers["Answer"].values == "dodge"]

    Answer      dates
244  dodge 2022-02-18

In [153]:
df_answers[df_answers.dates.values == np.datetime64('2022-02-18T00:00:00.000000000')]

    Answer      dates
244  dodge 2022-02-18

## Functions

In [154]:
def convert_date_format(day,month,year):
  if len(str(month)) < 2:
    month = f"0{month}"
  if len(str(day)) < 2:
    day = f"0{day}"
  return f"{year}-{month}-{day}T00:00:00.000000000"

In [155]:
convert_date_format(18,2,2022)

'2022-02-18T00:00:00.000000000'

In [156]:
def find_answer(day,month,year):
  return df_answers[df_answers.dates.values == np.datetime64(convert_date_format(day,month,year))]["Answer"].values[0]

# **Enter your input here as day, month, year format**

In [157]:
find_answer(18,2,2022)

'dodge'